:root{
  --xyn-primary-color: rgb(64, 158, 255);
  --xyn-primary-light-color: rgb(112, 182, 255);
  --xyn-primary-more-light-color: rgb(160, 207, 255);
  --xyn-primary-deep-color: rgb(48, 119, 191);
  --xyn-primary-more-deep-color: rgb(32, 79, 128);
}